<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/index.css">
    <title>decode</title>
</head>
<body>
    <% if (typeof(data) != "undefined") { %>
        <p style="display:none" id="rawData"><%= data %></p>
    <% } %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <% if (typeof(data) != "undefined") { %>
        <script>
            let data = JSON.parse($("#rawData").text());
            $("#rawData").remove();
            $("body").append(`<p>name: ${data.name}</p>`);
        </script>
    <% } %> 
</body>
</html>